/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 10px;
    color: #5E5E5E;
    background-color: #f4f4f4;
}

*, a, button, i, input {
    -webkit-font-smoothing: antialiased;
}

*, :active, :focus, :hover {
    outline: 0 !important;
    -webkit-tap-highlight-color: transparent !important;
}

[role=button], a, area, button, input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

button, input, select, textarea {
    margin: 0;
    line-height: inherit;
    border-radius: 0;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    text-decoration: none;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn {
    font-weight: 500;
    outline: 0 !important;
    border-width: 0;
    padding: -0.4375rem 1rem;
}

.btn:focus, .btn:hover {
    text-decoration: none;
}

.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #2aabd2;
}

.btn.btn-success:focus,
.btn.btn-success:hover {
    color: rgba(255, 255, 255, .87) !important;
    background-color: #6cc788;
}

.btn-success {
    background-color: #6cc788;
    border-color: #6cc788;
    color: #fff;
}

.btn-warn {
    color: #fff;
    background-color: #fcc100;
    border-color: #fcc100;
}

.btn.warn:hover,
.btn.warn:focus {
    color: rgba(255, 255, 255, .87) !important;
    background-color: #fcc100;
    border-color: #fcc100;
}

.btn-danger.ui.button {
    color: #fff;
    background-color: #DB2828;
    border-color: #DB2828;
    padding: 0.5rem 1rem;
    border-radius: 0;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.btn-danger.ui.button .fa {
    margin-right: 5px;
}

.btn.warn:hover,
.btn.warn:focus {
    color: rgba(255, 255, 255, .87) !important;
    background-color: #d01919;
    border-color: #d01919;
}

.btn:not([disabled]).active,
.btn:not([disabled]):focus,
.btn:not([disabled]):hover {
    box-shadow: inset 0 -10rem 0 rgba(158, 158, 158, .2);
}

.coding {
    width: 60%;
    float: right;
    margin-top: 10px;
    display: inline-block;
}

.chart-image {
    width: 40%;
    display: inline-block;
    margin-top: 10px;
    float: left;
}

.chart-image h2 {
    margin: 0;
    background: #0cc2aa;
    padding: 10px 15px;
    color: #fff;
    font-size: 18px;
}

.chart-image .resize {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 15px;
}

[class^="icon-"], [class*=" icon-"] {
    color: #fff;
}

.bill-img {
    padding: 0px 0 10px;
}

.bill-img img {
    max-width: 100%;
    width: 100%;
}

.main-header {
    width: 100%;
    height: 100px;
    color: white;
    background: #0cc2aa;
    line-height: 100px;
    backface-visibility: hidden;
}

.heads-up {
    transform: translateY(-6rem);
    transform: translate3d(0, -6rem, 0);
}

.main-header h1 {
    float: left;
    font-size: 18px;
    margin-top: 40px;
    text-transform: uppercase;
}

.main-header .main-container {
    overflow: visible;
    display: flex;
    justify-content: space-between;
}

.main-header .ui.dropdown .menu > .item {
    font-size: 14px;
}

.main-header nav {
    font-size: 16px;
}

.main-header nav .ui.inline.dropdown .menu {
    right: 0;
    top: 70px;
}

.main-header nav ul {
    margin: 0;
    padding: 0;
}

.main-header nav li {
    display: inline-block;
    padding: 0 30px;
    border-left: 1px solid #0db6a0;
}

[class^="icon-"], [class*=" icon-"] {
    font-size: 14px;
    margin-right: 10px;
}

.table-chart-container,
.profile-member-block,
.cannot-review-section{
    margin: 10px 0;
    padding: 0 0 0 20px;
}

.profile-member-block {
    margin-top: 0;
    clear: both;
}

.table-chart-container {
    padding-bottom: 30px;
}

.member-title {
    font-weight: 100;
    margin: 0px 0 7px;
    font-size: 22px;
    line-height: 22px;
}

.profile-member-block [class^="icon-"],
.profile-member-block [class*=" icon-"] {
    font-size: 14px;
    color: rgba(131, 131, 131, 0.4);
}

.profile-member-block .chart-wrapper [class^="icon-"],
.profile-member-block .chart-wrapper [class*=" icon-"] {
    margin-right: 0;
    font-size: 12px;
    color: #5E5E5E;
    margin-top: 10px;
    display: block;
}

.dob {
    font-size: 14px;
    margin: 0;
    color: rgba(99, 99, 99, 0.5);
}

.provider-title {
    margin: 5px 0 0;
}

.profile-member-block .list-btn [class^="icon-"],
.profile-member-block .list-btn [class*=" icon-"] {
    color: #fff;
}

.profile-member-block .card {
    padding: 15px 20px 20px;
    overflow: hidden;
    position: relative;
}

.list-section {
    position: absolute;
    bottom: 20px;
    right: 15px;
}

.chart-wrapper h3 {
    margin: 5px 0 8px;
    display: inline-block;
}

.chart-wrapper img {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.table-chart-container .table-card-wrapper {
    box-shadow: none;
}

.table-chart-container .table-card-wrapper .card {
    box-shadow: 0px 1px 1px 1px #b1b1b1;
}

.table-card-wrapper {
    box-shadow: 0px 1px 1px 1px #b1b1b1;
}

/* PDF Object */
.pdfobject-container {
    height: 600px;
    padding-bottom: 0;
}

.card-body input[type="text"] {
    display: block;
    padding-left: 7px;
    font-size: 12px;
    width: 100px;
    height: 28px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
}

.inline-message {
    display: none;
}

.inline-message.is-visible {
    display: table-row;
}

.card-body .inline-message input[type="text"]{
    width: 85%;
    display: inline-block;
}

.card-body .inline-message .ui.green.button {
    padding: 3px 10px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 20px;
}

.inline-message td {
    background: #d3d3d3;
}

.table-card-wrapper .completion-section {
    overflow: hidden;
}

.completion-section{
    margin-top: 20px;
}

.completion-section > div:nth-child(1) {
    float: left;
    display: inline-block;
    position: relative;
}

.completion-section > div:nth-child(1) button {
    margin-right: 10px;
}

.completion-section > div:nth-child(1) button:last-child {
    margin-right: 0;
}

.completion-section > div:nth-child(2) {
    float: right;
    display: inline-block;
}

.completion-section .btn {
    font-size: 14px;
}

.completion-section .btn-danger{
    display: none;
}

.completion-section .ui.bottom.right.popup {
    right: -185px !important;
    margin-bottom: 20px;
}

.completion-section .ui.bottom.right.popup:before {
    right: 0 !important;
    left: 0 !important;
    margin: 0 auto;
    top: -5px !important;
}

.standard-msg .ui.button.pointing {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    margin: 0;
    padding: 9px 11px;
    background-color: #f4f4f4;
}

.standard-msg .ui.dropdown.top .menu{
    left: auto;
    right: -110px;
}

.ui.form .fields .field .standard-msg .ui.input.search {
    width: 91%;
}

.standard-msg .ui.dropdown .menu>.header {
    margin: 10px 0;
    font-size: 12px;
}

.standard-msg .ui.bottom.pointing.dropdown>.menu {
    left: -117px;
}

.standard-msg .ui.button.pointing .fa {
    color: #0cc2aa;
}

.standard-msg .ui.button.pointing .search.input .fa {
    position: absolute;
    right: 10px;
    top: 10px;
}


.completion-section .ui.form .fields .field:first-child {
    width: 360px;
}

.completion-section .ui.form .fields .field:first-child input {
    padding: 8px;
    font-size: 14px;
}

.completion-section .ui.form .fields .field input.ui.button.green {
    margin: 0;
    padding: 8px 15px;
}

.card {
    background: #fff;
    margin-bottom: 30px;
}

.card-main {
    background: #fff;
    margin-bottom: 3px;
    position: relative;
    padding: 8px 20px;
    line-height: 100%;
}

.card:last-child {
    margin-bottom: 0;
}

.card, .card .card-header {
    position: relative;
}

.card, .mini-charts-item {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
}

.card .card-header {
    /*cursor: all-scroll;*/
    margin: 0;
    background: #0cc2aa;
    padding: 10px 15px;
    color: #fff;
    font-size: 18px;
}

.card .card-header h2 {
    margin: 0;
    line-height: 100%;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
}

.resize {
    display: inline-block;
    float: right;
}

.resize-icon:hover .icon-resize:before {
    transition: all 0.2s ease-out;
    font-size: 16px;
}

.chart-image.panel-fullscreen {
    display: block;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}

.card .card-header .resize [class^="icon-"],
.card .card-header .resize [class*=" icon-"] {
    margin-right: 0;
    margin-top: 7px;
    display: block;
}

.card .card-header h2 small {
    display: inline-block;
    margin-top: 8px;
    color: #AEAEAE;
    line-height: 160%;
    font-size: 12px;
    margin-left: 10px;
}

.table-responsive {
    min-height: .01%;
    border: 0;
    max-height: 450px;
    margin-top: 0px;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

pre code, table {
    background-color: transparent;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 5px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #F5F5F5;
}

.table > thead > tr > th {
    background-color: #fff;
    vertical-align: middle;
    font-weight: 500;
    color: #333;
    border-bottom: 0px solid #F5F5F5;
    border-width: 1px;
    text-transform: uppercase;
    text-align: left;
}

.table > tbody > tr > td:first-child,
.table > tbody > tr > th:first-child,
.table > tfoot > tr > td:first-child,
.table > tfoot > tr > th:first-child,
.table > thead > tr > td:first-child,
.table > thead > tr > th:first-child {
    padding-left: 30px;
}

.table > caption + thead > tr:first-child > td,
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > td,
.table > thead:first-child > tr:first-child > th {
    border-top: 0;
}

.add-row {
    background-color: rgba(0, 0, 0, .035);
    border-top: 1px solid rgba(120, 130, 140, .13);
    padding: 5px 0 5px 30px;
}

.add-row .btn {
    padding: 7px 10px 7px 10px;
    font-size: 14px;
}

.add-row input[type="submit"].green,
.edit-row input[type="submit"].green {
    margin-top: 27px;
    margin-right: 0;
}

.add-row .ui.bottom.right.popup,
.edit-row .ui.bottom.right.popup {
    width: 650px !important;
}

.coder-list-container {
    max-width: 1200px;
    margin: 30px auto 0;
}

button.icon {
    background: #f4f4f4;
    border: 0;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border-radius: 50%;
}

button.icon.is-selected{
    background: #43bf80;
}

button.icon.is-selected [class^="icon-"],
button.icon.is-selected [class*=" icon-"]{
    color: #fff;
}

button.icon:last-child {
    margin-right: 0;
}

button.icon .fa {
    color: #0cc2aa;
    font-size: 14px;
}

button.icon [class^="icon-"],
button.icon [class*=" icon-"] {
    margin-right: 0;
    color: #0cc2aa;
}

.main-container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
}

.view .btn {
    font-size: 12px;
    padding: 7px 10px;
}

.list-btn a {
    font-size: 14px;
}

.ui.styled.accordion {
    width: 100%;
    border-radius: 0;
    border: none;
}

.card-container .title h2 {
    font-size: 14px;
    display: inline-block;
    margin: 0;
}

.card-container .ui.styled.accordion .active.title {
    background: #e3fffb;
}

.card-container .ui.styled.accordion .content {
    padding: 5px 0;
}

.cpt-header h2 {
    font-size: 16px;
    padding: 5px 7px 5px 25px;
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    background: #eaeaea;
}

.add-section .ui.toggle.checkbox {
    float: left;
    margin-top: 4px;
}

.claim-wrap .ui.toggle.checkbox label:after,
.add-section .ui.toggle.checkbox label:after,
.cpt-wrap .ui.toggle.checkbox label:after {
    width: 20px;
    height: 20px;
}

.claim-wrap .ui.toggle.checkbox input,
.add-section .ui.toggle.checkbox input,
.cpt-wrap .ui.toggle.checkbox input {
    width: 40px;
    height: 20px;
}

.claim-wrap .ui.toggle.checkbox label,
.add-section .ui.toggle.checkbox label,
.cpt-wrap .ui.toggle.checkbox label {
    padding-left: 50px;
}

.claim-wrap .ui.toggle.checkbox label:before,
.add-section .ui.toggle.checkbox label:before,
.cpt-wrap .ui.toggle.checkbox label:before {
    background: #e74c3c !important;
    width: 40px;
    height: 20px;
}

.claim-wrap .ui.toggle.checkbox input:checked ~ label:before,
.add-section .ui.toggle.checkbox input:checked ~ label:before,
.cpt-wrap .ui.toggle.checkbox input:checked ~ label:before {
    background-color: #2ecc71 !important;
}

.claim-wrap .ui.toggle.checkbox input:checked ~ label:after,
.add-section .ui.toggle.checkbox input:checked ~ label:after,
.cpt-wrap .ui.toggle.checkbox input:checked ~ label:after {
    left: 25px;
}

.fullscreen .chart-image {
    display: none;
}

.fullscreen .coding {
    width: 100%;
    float: none;
    margin-top: 10px;
}

.fullscreen .profile-member-block {
    margin: 0 auto;
}

.profile-member-block .card .member-title {
    font-size: 18px;
    line-height: 26px;
}

.profile-member-block .provider-title {
    margin-right: 0;
    font-size: 12px;
}

.profile-member-block .card > div:nth-child(1) > * {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 15px;
}

.fullscreen .list-section {
    position: absolute;
    bottom: 15px;
    right: 0;
}

.fullscreen .table-chart-container .table-card-wrapper .ui.card.claim {
    width: 100%;
    border-radius: 0;
    position: relative;
    box-shadow: none;
}

.fullscreen .table-chart-container .table-card-wrapper .ui.card.claim > .content {
    box-shadow: 0px 1px 1px 1px #b1b1b1 !important;
    border-radius: 0 !important;
}

.fullscreen .table-chart-container .table-card-wrapper .ui.accordion.claim .title:not(.ui) {
    padding: 0;
}

.fullscreen .ui.accordion.claim .add-row,
.card-header .add-row {
    position: absolute;
    top: 4px;
    right: -15px;
    padding: 0;
    border: none;
}

.fullscreen .ui.accordion.claim .add-row .btn {
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    background: #5e5e5e;
}

.fullscreen .ui.accordion.claim .add-row .btn [class^="icon-"],
.fullscreen .ui.accordion.claim .add-row .btn [class*=" icon-"] {
    margin-right: 0;
}

.card-header .add-row {
    right: 10px;
    top: 6px;
}

.card-header .add-row > div {
    float: left;
}

.card-header .add-row .comment {
    margin-right: 5px;
    display: none;
}



.card-header .add-row .btn {
    background: #5e5e5e;
    padding: 0;
    color: #fff;
    font-weight: normal;
    margin-right: 0;
    padding: 6px 10px;
}

.card-header .add-row .btn [class^="icon-"],
.card-header .add-row .btn [class*=" icon-"] {
    margin-right: 0;
    font-size: 10px;
}

.fullscreen .table-card-wrapper .completion-section {
    padding: 10px 30px;
}

.fullscreen .card-container .ui.styled.accordion .content {
    padding: 0;
}

.fullscreen .table-responsive {
    max-height: 500px;
}

.add-section {
    position: absolute;
    top: 7px;
    right: -10px;
}

.add-section .edit-row {
    float: left;
    display: inline-block;
}

.add-section .edit-row .ui.button:hover,
.add-section .edit-row .ui.button:focus {
    background-color: #5e5e5e;
    color: #fff;
}

.add-section .btn {
    background: #5e5e5e;
    border-radius: 30px;
    padding: 0 9px;
    font-size: 14px;
    margin-right: -5px;
    color: #fff;
    font-weight: normal;
    width: 30px;
    height: 30px;
    margin-top: -3px;
}

.add-section .indicator-wrap {
    float: left;
}

.add-section .indicator-wrap > label {
    margin-top: 10px;
    display: inline-block;
    margin-right: 9px;
}

.add-section .indicator-wrap .ui.toggle.checkbox {
    float: right;
    margin-top: 4px;
}

.add-section .ui.button:hover
.add-section .ui.button:focus {
    background-color: #5e5e5e;
    color: #fff;
}

.add-section .btn [class^="icon-"],
.add-section .btn [class*=" icon-"] {
    margin-right: 7px;
    font-size: 10px;
}

.add-section .status-wrap {
    float: left;
    margin-right: 20px;
    margin-top: 5px;
}

.status-wrap .ui.checkbox label {
    font-size: 12px;
    padding-right: 1.85714em;
    padding-left: 0;
}

.status-wrap .ui.checkbox label:before,
.status-wrap .ui.checkbox label:after {
    right: 0;
    left: auto;
}

.status-wrap .ui.dropdown .menu {
    border-radius: 0;
}

.status-wrap .ui.dropdown .menu > .item {
    font-size: 14px;
    border-bottom: 1px solid #dedede;
}

.claim-inner {
    position: relative;
}

.claim-wrapper {
    display: none;
}

.light-yellow {
    background: #fff5d6 !important;
}

.light-red {
    background: #ffdede !important;
}

.light-green {
    background: #e2ffeb !important;
}

.text-left .ui.labeled.icon.button {
    padding: 5px 6px 5px !important;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #f4f4f4;
    margin-right: 0;
}

.text-left .ui.labeled.icon.button.is-selected{
    background: #43bf80;
}

.text-left .ui.labeled.icon.button.is-selected .fa-list{
    color: #fff;
}

.text-left .ui.labeled.icon.button .fa {
    color: #0cc2aa;
    font-size: 14px;
}

.text-left .ui.labeled.icon.button .fa.fa-search{
    position: absolute;
    right: 10px;
    top: 5px;
}

.text-left .ui.floating.dropdown .menu {
    left: -480px;
    width: 505px;
    margin-bottom: 20px;
}

.text-left .ui.dropdown .menu>.input{
    margin: 10px;
}

.text-left .ui.dropdown .menu>.header {
    margin: 5px;
    font-size: 12px;
    text-transform: capitalize;
    padding-left: 5px;
}

.text-left .ui.dropdown .menu>.divider {
    margin: 0;
}

.text-left .ui.dropdown .scrolling.menu>.item.item.item {
    font-size: 14px;
}

.ui.dropdown .menu>.item {
    font-size: 14px;
}

.text-left .ui.dropdown>.visible.menu .scrolling.menu {
    max-height: 150px;
    overflow-x: auto;
}

.comment .ui.form .fields .field:first-child {
    width: 580px;
    font-size: 14px;
}

.add-claim-section {
    padding: 8px 20px 8px 30px;
    background: #f6f6f6;
}

.add-claim-section .ui.form input[type=text] {
    font-size: 12px;
}

.add-claim-section .ui.button {
    padding: 7px 10px;
    font-size: 12px;
    line-height: 14px;
    margin-right: 0;
}

.not-review-wrap {
    position: relative;
}

.not-review {
    padding: 10px 0;
    display: none;
}

.not-review-btn {
    float: right;
    clear: both;
    margin-bottom: 5px;
    background: #fff;
    border-radius: 4px;
    padding: 5px 10px;
}

.not-review .review-text,
.not-review .text-left{
    display: inline-block;
}

.not-review .review-text {
    margin-right: 10px;
    font-size: 14px;
}


.inline-message-review{
    display: none;
    background: #d3d3d3;
    padding: 10px;
}

.inline-message-review.is-visible {
    display: block;
    clear: both;
    width: 750px;
    margin-left: 20px;
}

.inline-message-review input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
}


.editable-buttons {
    display: none;
}

.card-container .ui.styled.accordion .title {
    height: 38px;
    padding: 10px;
}

.card-container .ui.accordion .title .dropdown.icon {
    margin-top: 3px;
}

.claim-title-inner {
    position: absolute;
    top: 10px;
    left: 32px;
}

.ui.form .review-select .ui.selection.dropdown {
    padding: 2px 4px 0;
    min-height: auto;
    font-size: 12px;
    margin-top: 5px;
    color: #aaa;
    line-height: 16px;
}

.review-select .ui.dropdown .menu>.item {
    font-size: 12px;
}

.review-select .ui.selection.dropdown .menu>.item {
    padding: 5px !important;
}

.review-select .ui.dropdown>.text {
    width: 150px;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editable-input {
    margin-top: -3px;
}

.editable-input input {
    border: 1px solid #f8f8f8;
    padding-left: 5px;
}

.claim-title-inner h2 {
    font-size: 14px;
}

.ui-datepicker .ui-datepicker-title {
    color: #333;
}

/**
 * Comment and Cannot Review Section
 */

.cannot-review-section .standard-message {
    background: #fff;
    box-shadow: 0px 1px 1px 1px #b1b1b1;
    padding: 15px 10px;
    position: relative;
}

.standard-message .ui.form{
    height: 36px;
}

.standard-message .field strong {
    font-size: 12px;
    font-weight: normal;
    display: block;
    margin-top: -4px;
}

.standard-message .ui.form .fields{
    height: 100%;
}

.standard-message .ui.form .fields input,
.standard-message .ui.form .fields button
{
    height: 100%;
    font-size: 14px;
}

.standard-message .ui.form .fields .field small{
    text-align: center;
    font-size: 12px;
    line-height: 14px;
}

/*.standard-message .ui.form .fields .ui.button.danger{
    color: #fff;
    background: #DB2828;
}

.standard-message .ui.form .fields .ui.button.danger:hover{
    background: #f12525;
}*/

.standard-message .ui.form .fields .field:first-child {
    width: 70%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                          http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}