.dashboard-wrapper {
  display: flex;
  min-height: 100%;
  background: #2a2a2a;

  .sidebar {
    width: 220px;
  }

  .toggle-btn {
    cursor: pointer;
    color: #fff;
    &:before {
      content: '\f0c9';
      font: 30px fontawesome;
    }
  }

  .top-bar {
    background: #0cc2aa;
    padding: 23px 15px;
    .profile-block {
      float: right;
    }
    .ui.dropdown {
      color: #fff;
      font-size: 16px;
      .menu {
        left: -10px;
        top: 30px;
        > .item {
          padding: 10px 15px !important;
          font-size: 14px;
        }
      }
    }
  }

  .bottom-block {
    max-width: 1024px;
    margin: 0 auto;
    padding: 50px 10px;
  }

  .ui.dividing.header {
    font-size: 18px;
    padding-bottom: 10px;
  }

  .ui.form {
    textarea {
      display: inline-block;
      width: 50%;
      padding: 10px;
      font-size: 14px;
    }
    .inline.field {
      .ui.form.help-text {
        min-width: 200px;
        > .inline.field {
          position: relative;
          &:not(:first-child) {
            margin-top: 25px;
          }
        }
        .ui.button {
          border-radius: 50%;
          width: 30px;
          height: 30px;
          padding: 6px;
          position: absolute;
          right: -15px;
          margin: 0;
          top: -5px;
        }
      }
      &.input-parameters {
        > label {
          vertical-align: top;
          line-height: 20px;
        }
        overflow: hidden;
        .input-wrap {
          display: inline-block;
          width: 50%;
          > input {
            font-size: 14px;
            &:not(:first-child) {
              margin-top: 10px;
            }
          }
        }
      }
      &.inline-checkbox {
        margin-top: 20px;
        > label {
          vertical-align: top;
        }
        .ui.form {
          display: inline-block;
          label {
            font-size: 14px;
          }
        }
      }
      > label {
        width: 160px;
        font-size: 14px;
      }
      > input {
        width: 50%;
        padding: 10px;
        font-size: 14px;
      }
      > .selection.dropdown {
        width: 50%;
        padding: 10px;
        font-size: 14px;
      }
    }
  }

  .ui.breadcrumb {
    display: block;
    display: block;
    background: #e8e6e6;
    padding: 10px 15px;
    .section {
      font-size: 14px;
    }
  }

  .form-wrapper {
    padding: 30px;
    max-width: 700px;
    margin: 30px auto;
    background: #fff;
    display: block;
    box-shadow: 0 0 1px 1px rgb(204, 204, 204);
  }

  .btn-action-wrap {
    margin-top: 40px;
  }

  .main-content {
    width: calc(100% - 220px);
    background: #eee;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    transform: translate3d(0, 0, 0);
    transition: transform .3s;
  }

  .title {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    padding: 20px 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #eee;
    border-bottom: 1px solid #222;
    background: #2a2a2a;
  }

  .nav li a {
    position: relative;
    display: block;
    padding: 15px 15px 15px 50px;
    font-size: 12px;
    color: #eee;
    border-bottom: 1px solid #222;
  }

  .nav li a:before {
    font: 14px fontawesome;
    position: absolute;
    top: 14px;
    left: 20px;
  }

  .nav li:nth-child(1) a:before {
    content: '\f00a';
  }
  .nav li:nth-child(2) a:before {
    content: '\f15c';
  }
  .nav li:nth-child(3) a:before {
    content: '\f121';
  }
  .nav li:nth-child(4) a:before {
    content: '\f0c0';
  }
  .nav li:nth-child(5) a:before {
    content: '\f023';
    left: 23px;
  }

  .nav li a:hover {
    background: #444;
  }

  .nav li a.active {
    box-shadow: inset 5px 0 0 #5b5, inset 6px 0 0 #222;
    background: #444;
  }

  h1 {
    margin: 25px 0 15px;
    font-size: 28px;
    font-weight: 400;
  }

  .welcome-text {
    margin-bottom: 30px;
    text-align: center;
    h2 {
      font-size: 32px;
      line-height: 40px;
      font-weight: 400;
      color: #5d5d5d;
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
      color: #a5a5a5;
    }
  }
  .dashboard-action-btn {
    .banner-grid__content {
      .card-list {
        min-height: 240px;
        padding: 30px 10px;
        box-shadow: 0 1px 2px 1px rgba(67, 67, 67, 0.4);
      }
    }
  }
}
.action-title {
  margin-bottom: 15px;
  p {
    font-size: 14px;
    margin: 5px 0 0;
    min-height: 57px;
  }
}

.manage-project {
  margin-top: 50px;
  h2 {
    font-size: 20px;
  }
}

.table-wrap {
  .ui.sortable.table thead th{
    &:after {
      font: normal normal normal 14px/1 FontAwesome;
      position: relative;
    }
    &.ascending:after {
      content: '\f0dd';
      top: -2px;
    }
    &.descending:after {
      content: '\f0de';
      top: 4px;

    }
  }
}
