
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.banner-header {
  height: 100vh;
  background: #0cc2aa url("../img/parallax-bg.png") no-repeat 0px 0px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-weight: normal;
  position: relative;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .title {
    p {
      font-size: 20px;
      color: #4a4a4a;
      margin: 20px 0;
    }
  }

  .logo {
    a {
      color: #fff;
      text-decoration: none;
      font-size: 24px;
    }
  }
  .heading {
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    font-weight: normal;
    margin: 0;
  }
}

.menu-list {
  padding: 0;
  list-style: none;
  margin: 0;
}

.menu-item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  &:last-child{
    margin-right: 0;
  }
}

.menu-link {
  font-size: 14px;
  color: #fff;
  position:relative;
  overflow: hidden;
  display: block;
  padding: 10px;
  &:before {
    width: 2px;
    height: 100%;
    background: white;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  &:after {
    width: 2px;
    height: 100%;
    background: white;
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0;
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  span {
    &:before {
      width: 100%;
      height: 2px;
      background: white;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    &:after {
      width: 100%;
      height: 2px;
      background: white;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }
  &.is-active {
    color: rgba(255,255,255,0.7);
    &:before,&:after{
      transform: translateX(0);
    }
    span {
      &:before, &:after {
        transform: translateX(0);
      }
    }
  }
  &:hover, &:focus {
    color: rgba(255,255,255,0.7);
    &:before,&:after{
      transform: translateX(0);
    }
    span {
      &:before, &:after {
        transform: translateX(0);
      }
    }
  }
}

.banner-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.banner-info {
  text-align: center;
  margin-bottom: 50px;
}

.banner-inner-block {
  position: absolute;
  left: 0;
  right: 0;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  top: 55%;
  transform: translateY(-50%);
}

.banner-info__content {
  p {
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    margin: 15px 0 0;
  }
}

.login {
  padding: 10px;
  span {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 15px;
    line-height: 40px;
  }
  .btn {
    color: #4c4c4c;
    margin-top: -4px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    background: rgba(255, 255, 255, 0.31);
    border-radius: 4px;
    text-decoration: none;
    outline: none;
    transition: all 300ms ease-in;
    box-shadow: none;
    &:hover,
    &:focus {
      background: #F0EC57;
    }
  }
}

.banner-grid__content {
  display: flex;
  justify-content: space-around;
  .card-list {
    width: 33%;
    text-align: center;
    background: #fff;
    margin: 3px;
    padding: 30px 10px 0;
    transition: all 300ms ease-in-out;
    &:hover, &:focus {
      transform: translateY(-10px);
    }
  }
}

.img-icon {
  i {
    font-size: 100px;
    color: rgb(28, 174, 155);
  }
}

.signup-block {
  background: #8c8c8c;
  margin: 0 -10px;
  padding: 20px 0;
  p {
    font-size: 18px;
    color: #fff;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .btn {
    padding: 10px 15px;
    font-size: 14px;
    outline: none;
    border-radius: 4px;
    border: none;
    border-color: #ECEFF1;
    z-index: 1;
    background: #fff947;
    color: #4a4a4a;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    position: relative;
    margin-right: 5px;
    box-shadow: none !important;
    min-width: 125px;
    &:last-child {
      margin-right: 0;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid #e2de52;
      z-index: -1;
      border-radius: inherit;
      opacity: 0;
      -webkit-transform: scale3d(0.6, 0.6, 1);
      transform: scale3d(0.6, 0.6, 1);
      -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s;
      -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
      transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
    &:hover {
      background: #fff;
      color: #3f51b5;
      &:before {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
      }
    }
  }
}

//Signup

.signup-block {
  &.ui.modal {
    max-width: 600px !important;
    padding: 0;
    background-color: white;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    > {
      .header {
        padding: 10px;
      }
      .content{
        padding: 15px 20px;
      }
    }
    h1{
      font-size: 24px;
      text-align: center;
    }
  }
  input,
  input[type="radio"] + label,
  input[type="checkbox"] + label:before,
  select option,
  select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  input:focus {
    outline: 0;
    border-color: #16ab39;
  }
  input:focus + .input-icon i {
    color: #16ab39;
  }
  input:focus + .input-icon:after {
    border-right-color: #16ab39;
  }
  input[type="radio"] {
    display: none;
  }
  input[type="radio"] + label,
  select {
    display: inline-block;
    width: 50%;
    text-align: center;
    float: left;
    border-radius: 0;
  }
  input[type="radio"] + label:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  input[type="radio"] + label:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  input[type="radio"] + label i {
    padding-right: 0.4em;
  }
  input[type="radio"]:checked + label,
  input:checked + label:before,
  select:focus,
  select:active {
    background-color: #16ab39;
    color: #ffffff;
    border-color: #16ab39;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + label {
    position: relative;
    display: block;
    padding-left: 1.6em;
    font-size: 14px;
  }
  input[type="checkbox"] + label:before {
    position: absolute;
    top: 0.2em;
    left: 0;
    display: block;
    width: 1em;
    height: 1em;
    padding: 0;
    content: "";
  }
  input[type="checkbox"] + label:after {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 10px;
    color: #ffffff;
    opacity: 0;
    font-family: FontAwesome;
    content: "\f00c";
  }
  input:checked + label:after {
    opacity: 1;
  }
  select {
    height: 3.4em;
    line-height: 2;
  }
  select:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  select:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  select:focus,
  select:active {
    outline: 0;
  }
  select option {
    background-color: #16ab39;
    color: #ffffff;
  }
  .input-group {
    margin-bottom: 1em;
    zoom: 1;
  }
  .input-group:before,
  .input-group:after {
    content: "";
    display: table;
  }
  .input-group:after {
    clear: both;
  }
  .input-group-icon {
    position: relative;
  }
  .input-group-icon input {
    padding-left: 4.4em;
  }
  .input-group-icon .input-icon {
    position: absolute;
    top: -7px;
    left: 10px;
    width: 35px;
    height: 40px;
    line-height: 3.4em;
    text-align: center;
    pointer-events: none;
  }
  .input-group-icon .input-icon:after {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 40px;
    display: block;
    border-right: 1px solid #e5e5e5;
    content: "";
    -webkit-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  .input-group-icon .input-icon i {
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  .container {
    max-width: 38em;
    padding: 1em 3em 2em 3em;
    margin: 0em auto;
    background-color: #ffffff;
    border-radius: 4.2px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  }
  .row {
    zoom: 1;
  }
  .row:before,
  .row:after {
    content: "";
    display: table;
  }
  .row:after {
    clear: both;
  }

  .ui.form {
    margin-bottom: 1em;
    .field>.selection.dropdown {
      font-size: 14px;
      background: #f9f9f9;
    }
  }
  .ui.selection.dropdown:hover {

  }
}